*{
margin: 0px;
padding: 0px;
text-decoration: none;
list-style: none;
box-sizing: border-box;
transition: all 2s ease;
}

body{
    font-family: 'Mulish', sans-serif;
}

header{
    padding: 10px 20px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head .img img{
    width: 100px;
}

h1{
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    color: blue;
}

.btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    display: block;
    padding: 20px 50px;
    color: red;
    font-size: 25px;
    background-color: aquamarine;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn1 img{
    width: 20px;
    border: none;
    outline: none;
}

header{
    background-color: aqua;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.btn2{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px 40px;
    color: greenyellow;
    font-size: 25px;
    background-color: goldenrod;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn3{
    display: flex;
    align-items: center;
    margin: 20px auto;
    padding: 20px 50px;
    color: #fff;
    font-size: 25px;
    background-color: darkcyan;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn3 img{
    width: 20px;
    margin-right: 10px;
}