footer{
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    margin-top: 100px;
}
.ft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 30px;
}

.ft .text p{
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 400px;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.9;
}
.ft .text h6{
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.8;
}

.ft ul h4{
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
}
.ft ul li{
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
    opacity: 0.8;
    cursor: pointer;
}


@media (max-width:920px) {
    .ft {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .ft ul{
        margin: 20px 20px;
        flex-shrink: 0;
    }
    .ft ul li{
        flex-shrink: 0;
    }
}
@media (max-width:690px) {
    footer{
        margin-top: 50px;
    }
}
@media (max-width:400px) {
    .ft {
    padding: 50px 30px;
    }
    footer{
        margin-top: 30px;
    }
}