.sc1-box{
    margin-top: 80px;
}
.sc1 {
    text-align: center;
}
.sc1 h1{
    margin: 0 auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
}

.sc1 .line{
    margin: 20px auto;
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 5px;
}

.sc1 p{
    max-width: 955px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

@media (max-width:460px) {
    .sc1 p{
        max-width: 100%;
        line-height: 25px;
        margin: 0px 0px;
        text-align: start;
    }
}